upstream <%= @service_name %>_backend {
    keepalive 128 single;
    server 127.0.0.1:<%= @service_port %>;
}

server {
    listen 8080;
    server_name <%= @service_name %>;
    access_log /mnt/log/nginx/<%= @service_name %>_access.log;
    error_log /mnt/log/nginx/<%= @service_name %>_errors.log;

    location / {
            proxy_pass http://<%= @service_name %>_backend;
    }
}
